html, body {
    height: 100%;
    margin: 0;
}

body {
    font-size: 18px;
}

a {
    font-family: Arial;
    color: black;
}

input {
    border: 1px solid grey;
}

textarea {
    border: 1px solid grey;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 50px;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 5px 15px;
    background-color: #eab2e9;
}

.nav {
    display: flex;
}

.menu-block {
    margin: 0 10px 0 10px;
}

.nav-login {
    display: flex;
}

.content {
    align-self: center;
    width: 80%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #eab2e9;
    flex: 0 0 auto;
}

.footer__content{
    text-align: center;
}


.content {
    flex: 1 1 auto;
}

.article-preview {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    background-color: azure;
    padding: 10px;
}

.article-preview__title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.article-preview__content {

}

.article-preview__btn {
    align-self: flex-end;
    padding: 4px;
    margin: 5px 20px 0 0;
    font-size: 20px;
}

.article {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.article__title {
    align-self: center;
    font-size: 26px;
    font-weight: bold;
    margin: 20px 0 0 0;
}

.article__text {
    font-size: 20px;
    margin: 20px 0 0 0;
}

.add-article-form {
    display: flex;
    flex-direction: column;
}

.add-article-title {
    display: flex;
    justify-content: flex-start;
    margin: 30px 0;
}

.add-article-title__label {
    margin: 0 20px 0 0;
}

.add-article-title__input {
    width: 300px;
}

.add-article-form__submit-btn {
    align-self: flex-start;
    margin: 30px 0;
}

