{% extends 'blog/base.html' %}

{% block content %}
    <div class="add-article-content">
        <div class="add-article-form">
            <form method="post">
                {% csrf_token %}
                {% for row in form %}
                <div class="add-article-form__row">
                    <label class="add-article-form__label" for="{{ row.id_for_label }}">{{ row.label }}:</label>
                    {{ row }}
                </div>
                {% endfor %}
                <div class="add-article-form__row">
                    <button class="add-article-form__btn" type="submit">Добавить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}