{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'blog/css/zero.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}" type="text/css">
    <title>Главная</title>
</head>
<body>
<div class="wrapper">
    {% block header %}

        <div class="header">
            <div class="nav">
                {% get_header_menu as menu %}
                {% for el in menu %}
                    <div class="menu-block">
                        <a href={% url el.url_name %}>{{ el.title }}</a>
                    </div>
                {% endfor %}
            </div>
            <div class="nav-login">
                {% if request.user.is_authenticated %}
                {{ request.user.username }}
                <div class="menu-block">
                    <a href="{% url 'blog:logout' %}">Выйти</a>
                </div>
                {% else %}
                <div class="menu-block">
                    <a href="{% url 'blog:register' %}">Регистрация</a>
                </div>
                <div class="menu-block">
                    <a href="{% url 'blog:login' %}">Войти</a>
                </div>
                {% endif %}
            </div>
        </div>

    {% endblock header %}

        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>

    {% block footer %}
        <div class="footer">
            <div class="footer__content">
                <p>Все права защищены</p>
            </div>
        </div>
    {% endblock footer %}
</div>
</body>
</html>